<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            <mat-toolbar color="primary">
                <span>Bienvenido Paco</span>
                <span class="example-spacer"></span>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>logout</mat-icon>
                </button>
            </mat-toolbar>
           <div class="my-5">
            <app-data-table [data]="data"></app-data-table>
           </div>
        </div>
    </div>
</div>